form {
    width: 60%;
    margin: 0px auto;
    border: 2px solid black;
    padding: 20px;
    border-radius: 6px;
    line-height: 30px;

}
form input{
    width: 100%;
}

form h4 {
    text-align: center;
   text-decoration: underline;
}